@for (item of allProducts; track $index) {
  <div class="card" style="width: 18rem; margin: 10px;">

    <img [src]="item.featuredImage" class="card-img-top" alt="hotel image">

    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>

      <p class="card-text">
        📍 {{ item.address }} <br>
        🏙️ {{ item.city }}
      </p>

      <button class="btn btn-primary"
              (click)="getRooms(item.id)">
        Show Rooms
      </button>
    </div>

  </div>
}

<hr>

@for (room of rooms; track $index) {
  <div class="card" style="width: 18rem; margin: 10px;">
    <div class="card-body">

      <h3>{{ room.name }}</h3>

      <p>💰 {{ room.pricePerNight }}</p>
      <p>👥 {{ room.maximumGuests }}</p>

      <p>
        {{ room.available ? 'Available' : 'Not Available' }}
      </p>

      @if (room.images?.length) {
        <img [src]="room.images[0].source"
             class="card-img-top">
      }

    </div>
  </div>
}
